body {
	  font-family: Arial, sans-serif;
	    margin: 0;
	      padding: 0;
	        line-height: 1.6;
		  color: #333;
		    background-color: #f9f9f9;
	    }

	    header {
		      background-color: #1475c4;
		        color: white;
			  padding: 2rem;
			    text-align: center;
		    }

		    header h1 {
			      margin: 0;
		      }

		      .btn {
			        background: white;
				  color: #0b67b2;
				    padding: 10px 20px;
				      text-decoration: none;
				        border-radius: 8px;
				}

				section {
					  padding: 2rem;
					    max-width: 900px;
					      margin: auto;
					        background: white;
						  margin-top: 1rem;
						    border-radius: 10px;
						      box-shadow: 0 0 8px rgba(0,0,0,0.1);
					      }

					      h2 {
						        color: #0b67b2;
						}

						.project {
							  border-bottom: 1px solid #eee;
							    padding: 1rem 0;
						    }

						    footer {
							      background-color: #0b67b2;
							        color: white;
								  text-align: center;
								    padding: 1rem;
								      margin-top: 2rem;
							      }

